/*
 * 1. I used the universal selector (*) and a generic "a" selector prior to the focus pseudo-element to insure the styles I declared below are applied to anything that receives focus, and in a consistant manner.
 * 2. Use of !important's ensure conflicts are overridden by FOCUS' styles.
 */

*:focus, /* 1 */
a:focus,
a:active {
	outline: 3px solid #f00 !important; /* 2 */
	text-decoration: underline !important;
}
a:focus img {
	display: inline-block !important; /* to ensure the outline wraps an entire linked image. */
}